<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube | Studio</title>
    <style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Century Gothic";
        color: white;
    }
    body {
        background: #1b1b1b;
    }
    body::-webkit-scrollbar, .dashboard_box::-webkit-scrollbar {
        background: #1b1b1b;
        width: 10px;
        border-left: 1px solid black;
    }
    body::-webkit-scrollbar-thumb, .dashboard_box::-webkit-scrollbar-thumb {
        background-color: rgb(54, 54, 54);
        border-radius: 2px;
        border-left: 1px solid black;
    }
    nav {
        padding: 0 2%;
    }
    nav input {
        padding: 0 15px;
        border-bottom: none;
    }
    .profile_box.active {
        right: 10px;
    }
    .dashboard_box {
        overflow-y: scroll;
        height: 750px;
    }
    .dashboard_box_content {
        margin-top: 20px;
        column-count: 3;
        width: 100%;
        column-gap: 16px;
    }
    .dashboard_box_content div {
        background: none;
        border-radius: 12px;
        padding: 20px;
        border: 2px solid #686868;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin-bottom: 16px;
        box-sizing: border-box;
        break-inside: avoid;
    }
    .upload_video_box_main {
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        transform: scale(0);
        transform-origin: top right;
    }
    .upload_video_box_main.open_box {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    .upload_short_box_main {
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        transform: scale(0);
        transform-origin: top right;
    }
    .upload_short_box_main.open_box {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    </style>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
</head>
<body>
    <%- include('studio_components/navbar') %>
    <div class="flex">
        <%- include('studio_components/studio_sidebar') %>
        <div class="dashboard_box pt-[90px] pl-[20px] pr-[10px] w-full ">
            <div class="flex gap-2 w-[100%]">
                <video class="w-[400px] rounded-lg" autoplay controls src="/videos/<%= video.filename %>"></video>
                <form action="/studio/channel/<%= user.handle %>/content/<%= video._id %>/edit" method="post" class="flex w-full pt-1 gap-2 h-full flex-col">
                    <div class="w-full flex gap-2 h-[40px]">
                        <input placeholder="Video Title" value="<%= video.title %>" name="title" class="px-4 outline-none h-[40px] w-full bg-zinc-800 " type="text">
                        <button class="bg-blue-600 px-6">Publish</button>
                    </div>
                    <textarea placeholder="Video Description" name="description" class="h-[170px] p-4 outline-none resize-none bg-zinc-800 " id=""><%= video.description %></textarea>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    document.querySelector('.upload_video_btn').addEventListener('click', () => {
        document.querySelector('.upload_video_box_main').classList.add('open_box')
    })
    document.querySelector('.upload_short_btn').addEventListener('click', () => {
        document.querySelector('.upload_short_box_main').classList.add('open_box')
    })
</script>
</html>