<a href="/watch/<%= item._id %>" class="index_video flex flex-col">
    <video class="h-[250] w-full object-cover rounded-lg" src="../videos/<%= item.filename %>"></video>
    <div class="flex items-start gap-3" style="padding: 0 10px;margin-top: 10px;">
        <img class="w-[45px] rounded-full h-[45px]" src="<%= item.channel.logoURL %>" alt="">
        <div>
            <h1 class="index_video_title w-full"><%= item.title %></h1>
            <p class="text-zinc-400 text-sm" style="color: #979797;"><%= item.channel.name %></p>
            <span class="text-xs " style="margin-top: 5px;color: #979797;"><%= item.viewsCount.length %> views • <%= getTimestamp(item.createdAt) %></span>
        </div>
    </div>
</a>
<script>
    document.querySelectorAll('.index_video_title').forEach((h1) => {
        if(h1.innerText.length > 50) {
            h1.innerText = h1.innerText.substring(0, 40) + '...';
        }
    })
</script>